.login-main-div {
  margin: 0 !important;
  height: 100vh;

  .left-part {
    background-color: #fbca2e;
  }

  .right-part {
     
      
    .heading-div {
      text-align: center;
      margin-right: 50px;
    }

    .login-input {

      .label {
        margin-left: 2px;

        @media (max-width:1098px) {
          width: 100%;
        }
        @media (max-width:1000px) {
          width: 104%;
        }
        @media (max-width:990px) {
          width: 90%;
        }
      }

      .f-pass {
        display: flex;
        justify-content: end;
        width: 75%;
      }

      .lgn-btn {
        width: 73%;
        margin-left: 25px;
      }

      .rgi-btn {
        width: 73%;
        margin-left: 25px;
        border: 1px solid gray;
      &:hover {
        background-color:transparent;
      }
      }
    }
  }
}