.register-main-div {
  height: 100vh;
  margin: 0 !important;

  .left-part {
    background-color: #fbca2e;
  }

  .right-part {
   

    .heading-div {
      text-align: center;
    }

    .register-input {

      .reister-btn {
        width: 78%;

        @media (max-width:990px) {
          width: 100%;
        }
      }

      .login-span {
        margin-left: 25px;
        width: 75%;

        @media (max-width:370px) {
          width: 90%;
        }
      }

      .label {
        margin-left: 2px;

        @media (max-width:1098px) {
          width: 100%;
        }

      }
    }
  }
}