.panel-2 {
    .panel-tabs {
        border-top: 1px solid #dee2e6;
        border-left: 1px solid #dee2e6;
        border-right: 1px solid #dee2e6;
        background-color: #efeff1;
    }

}

.btns-div {
    .btns {
        color: #f7b731;
        background-color: black;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 5px;
    }
}