.add-action{
  .i-e{
    height: 19px;
    width: 19px;
    color: #f7b731;

  }
}
.billing-main-div {
  .first-div {
    .title {
      color: #f6b733;
    }
    .side-btn {
      .entry-btn {
        color: #f7b731;
        background-color: black;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 5px;
      }
    }
  }
}
