.Datawise-summery-main-div{
    .title {
        color: #f6b733;
      }
      .print-btn{
        color: #f7b731;
        background-color: black;
        height: 40px;
        width: 100px;
        border: none;
        border-radius: 5px;
      }
}