.card {
    background-color: white !important;
    box-shadow: none !important;
}

.nav-item {

    .nav-link {
        &:hover {
            color: #f7b731 !important;
        }
    }

    .nav-link.active {
        background-color: #000000 !important;

    }
}