.special-test {
  h3 {
    color: #f6b733;
  }

  // sc-fEXmlR kNUuTe rdt_TableHeader
  .st-label {
    @media (max-width: 1200px) {
      width: 100%;
    }
    @media (max-width: 1175px) {
      width: 100%;
    }
  }
  .sc-fEXmlR {
    display: none !important;
  }
}

// sc-hLBbgP sc-eDvSVe sc-jSUZER eVPPvF bQdYbR DlhbO rdt_TableCell
